#topImages {
    text-align: center;
}
#about{
    width: 100%;
}

#topImages img{
    max-width: 25%;
    display: inline-block;
}

#title{
    text-align: center;
    margin-bottom: 30px;
}

#info{
    margin: 0 15%;
}

li{
    list-style-type: none;
}