#topImages {
    width: 100%;
    text-align: center;
}

#topImages img{
    max-width: 25%;
    display: inline-block;
}

#title{
    text-align: center;
    width: 100%;
}

#info{
    text-align: center;
    width: 100%;
}