<?xml version="1.0" encoding="UTF-8" ?>
<eventData>
    <event id="1">
        <title>5 Star Society Xmas Party - Dec 2017</title>
        <content>In our first semester we managed to become a 5 Star Society. This meant the committee were invited to an exclusive 5 Star Society Christmas Party. It was a fun little party with free drinks and pizza and it was great to relax and celebrate all our hard work.</content>
        <imagePath1>assets/images/5StarLogo.png</imagePath1>
        <imagePath2>assets/images/events/5starparty.jpg</imagePath2>
    </event>
    <event id="2">
        <title>Computing Help Desk Fundraiser - Dec 2017</title>
        <content>We set up a computing help desk to help students and staff with their tech queries. In return we collected donations, of which 3/4 went to Cancer Research UK and the rest went to the Society. We had about 5 members volunteer and helping with a range of queries and questions.</content>
        <imagePath1>assets/images/events/charity1.jpg</imagePath1>
        <imagePath2>assets/images/events/charity2.png</imagePath2>
    </event>
    <event id="3">
        <title>Society Website - Nov/Dec 2017</title>
        <content>Our first project as a society was to build our own website. First years worked on the core html sections of the website, while more experienced members worked on the fancy features. We decided to hard code this website so that less experienced members could get as much out of it as possible. This project also gave members the opportunity to use Git, a useful tool that isn't taught on the University courses.</content>
        <imagePath1>none</imagePath1>
        <imagePath2>none</imagePath2>
    </event>
    <event id="4">
        <title>RoboCode - November 2017</title>
        <content>The first in our series of RoboCode tournaments. We introduced new students to the RoboCode API and let them build their own simple robots in Java. At the end of the night we did a single-elimination tournament. RassBerry was our winning bot but the Prize was given to our highest ranking First Year, ChromaZone. The run down of the tournament can be found on our YouTube Channel.</content>
        <imagePath1>assets/images/events/robocode1.jpg</imagePath1>
        <imagePath2>assets/images/events/robocode2.jpg</imagePath2>
    </event>
</eventData>